body, html {
    overflow: hidden;
}

/*左上角的折叠展开*/
.custom-icon-link>.bi {
    transition: .2s ease-in-out transform;
}

/*属性界面，管理时的元素*/
.draggable_item::before {
    content: '☰';
    margin-right: 10px;
    cursor: move;
}

.delete_button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
}

/*自定义圆角*/
.rounded-tl {
    border-top-left-radius: 0.25rem !important; /* 根据需要调整大小 */
}

.rounded-tr {
    border-top-right-radius: 0.25rem !important; /* 根据需要调整大小 */
}

.my-success {
    background-color: #198754; /* Bootstrap 成功状态的颜色 */
    color: #fff; /* 白色文字 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 动效：背景颜色 */
}

@media (hover: hover) and (pointer: fine) {
    .div2btn:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}

.div2btn {
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease-in-out;
}

/* item专区*/

.square_item_parent {
    width: 100px;
    height: 100px;
    display: flex;
    margin-right: 0px;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    position: relative; /* 确保成为相对定位上下文 */
    transition: transform 0.1s ease-in-out;
}

.square_item_child{
    width: 80px;
    height: 80px;
    pointer-events: none;
    transition: box-shadow 0.15s ease-in-out, width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.square_item_number {
    position: absolute;
    font-size: small;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    pointer-events: none;
}

.caption-text {
    position: absolute;
    font-size: small;
    font-weight: bold;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.6); /* 半透明白色 */
    text-align: center;
    pointer-events: none;
    max-height: 30px;
    display: -webkit-box;
    display: -moz-box; /* Firefox旧版本支持 */
    display: box; /* 标准语法 */
    -webkit-line-clamp: 2; /* 设置最大行数为2 */
    -moz-line-clamp: 2; /* 尝试对Firefox的支持 */
    line-clamp: 2; /* 标准语法，但请注意这并不是所有浏览器都支持 */
    -webkit-box-orient: vertical;
    box-orient: vertical; /* 标准语法 */
    overflow: hidden;
    word-break: break-all; /* 强制打破长单词或URL地址，以确保适应容器宽度 */
    text-overflow: ellipsis;
    line-height: 15px; /* 根据需要调整行高 */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s linear forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.2s linear forwards;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.move-left {  /*未使用，配套的move-right未写出*/
    transform: translateX(100%);
    animation: moveLeft 0.1s linear forwards;
}
@keyframes moveLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

/* */

.col_item_parent{
    height: 100px;
    display: flex;
    align-items: center;     /* 垂直居中 */
}

.col_item_child{
    margin: 10px;
    width: 100%;
    height: 80px;
    transition: box-shadow 0.15s ease-in-out;
}

/*外发光*/
.glow {
    box-shadow: 0 0 10px var(--HA-blue);
}

.left-glow {
    box-shadow: -10px 0 20px -5px var(--HA-blue);
}

.right-glow {
    box-shadow: 10px 0 20px -5px var(--HA-blue);
}

.top-glow {
    box-shadow: 0 -10px 20px -5px var(--HA-blue);
}

.bottom-glow {
    box-shadow: 0 10px 20px -5px var(--HA-blue);
}

.glow-for-multi{
    box-shadow: 0 0 10px #20c997;
}

.glow-for-multi-plus{
    box-shadow: 0 0 20px #20c997;
}

.glow-for-multi-quick{
    box-shadow: 0 0 20px #fd7e14;
}

.glow-for-portal{
    box-shadow: 0 0 10px #fd7e14;
}

/*面包屑相关设置*/
.breadcrumb {
    display: flex;
    flex-wrap: nowrap; /* 禁止换行 */
    overflow: hidden; /* 隐藏溢出部分 */
    white-space: nowrap; /* 强制不换行 */
}

.breadcrumb-item {
    flex-shrink: 0; /* 禁止收缩 */
    position: relative;
}

/*表单必填*/
.form-required::before {
    content: "*"; /* 添加星号 */
    color: red; /* 设置为红色 */
    margin-right: 5px; /* 星号与文本之间的间距 */
}

.form-optional.form-required::before {
    content: none; /* 移除星号 */
}

/*滚动监听*/
/* 设置所有 .nav-link 的字体颜色 */
.nav-link {
    color: var(--HA-blue); /* 默认字体颜色 */
}

/* 设置激活状态下 .nav-link 的背景颜色和字体颜色 */
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link,
.nav-link:hover {
    background-color: var(--HA-blue); /* 激活或悬停时的背景颜色 */
    color: #fff; /* 激活或悬停时的字体颜色 */
}

/* 表格设置 */
table {
    border-collapse: collapse; /* 使边框合并 */
    width: 100%; /* 可选，根据需要调整表格宽度 */
}
th, td {
    border: 1px solid black; /* 给所有单元格添加边框 */
    text-align: center; /* 居中文本 */
    padding: 8px; /* 可选，增加一些内边距使文本不紧贴边框 */
}
th {
    font-weight: bold; /* 加粗表头文字 */
}